In [1]:
import pandas as pd

In [2]:
import datetime
import random
random.seed(30)

In [3]:
dates = [datetime.datetime.today() + datetime.timedelta(days=random.randint(100,356)) for _ in range(20)]
dates = [str(date.day) + "-" + str(date.month) + "-" + str(date.year) for date in sorted(dates)]
names  = ["Rush Hour 1", "Rush Hour 2", "Rush Hour 3", "The Invisible Guest", "In Time", "Now You See ME", \
            "The Equalizer", "The Bone Collector", "The Lincolyn Lawyer", "Shutter Isaland"
        ]
names = [random.choice(names) for _ in range(20)]
tickets = [name + "*" +  str(random.choice(['VIP','Ordinary'])) + "*" + date + "-ticket" for name, date in zip(names, dates)]

In [4]:
df = pd.DataFrame({'dates': dates, 'names': names})
shows_tickets = []
for row, col in df.iterrows():
    date = df.iloc[row][0]
    name = df.iloc[row][1]
    tickets = ','.join([name + "*" + random.choice(["vip", "ord"]) + "*" + date for _ in range(random.randint(1,100))])
    shows_tickets.append(tickets)

In [5]:
df['tickets'] = shows_tickets

In [6]:
df

,dates,names,tickets
0,8-11-2022,The Invisible Guest,"The Invisible Guest*ord*8-11-2022,The Invisibl..."
1,17-11-2022,Shutter Isaland,"Shutter Isaland*ord*17-11-2022,Shutter Isaland..."
2,18-11-2022,In Time,"In Time*vip*18-11-2022,In Time*vip*18-11-2022,..."
3,20-11-2022,The Equalizer,"The Equalizer*vip*20-11-2022,The Equalizer*vip..."
4,29-11-2022,Shutter Isaland,"Shutter Isaland*vip*29-11-2022,Shutter Isaland..."
5,9-12-2022,Rush Hour 2,"Rush Hour 2*ord*9-12-2022,Rush Hour 2*vip*9-12..."
6,12-12-2022,In Time,"In Time*ord*12-12-2022,In Time*vip*12-12-2022,..."
7,16-12-2022,The Lincolyn Lawyer,"The Lincolyn Lawyer*ord*16-12-2022,The Lincoly..."
8,12-1-2023,Rush Hour 2,"Rush Hour 2*ord*12-1-2023,Rush Hour 2*vip*12-1..."
9,25-1-2023,Shutter Isaland,"Shutter Isaland*ord*25-1-2023,Shutter Isaland*..."
10,20-2-2023,The Bone Collector,"The Bone Collector*vip*20-2-2023,The Bone Coll..."
11,9-3-2023,In Time,"In Time*vip*9-3-2023,In Time*ord*9-3-2023,In T..."
12,16-3-2023,Rush Hour 3,"Rush Hour 3*ord*16-3-2023,Rush Hour 3*vip*16-3..."
13,2-4-2023,In Time,"In Time*vip*2-4-2023,In Time*ord*2-4-2023,In T..."
14,2-5-2023,In Time,"In Time*ord*2-5-2023,In Time*ord*2-5-2023,In T..."
15,16-5-2023,In Time,"In Time*vip*16-5-2023,In Time*ord*16-5-2023,In..."
16,27-5-2023,The Lincolyn Lawyer,"The Lincolyn Lawyer*vip*27-5-2023,The Lincolyn..."
17,29-5-2023,Rush Hour 2,"Rush Hour 2*ord*29-5-2023,Rush Hour 2*vip*29-5..."
18,29-5-2023,Rush Hour 3,"Rush Hour 3*ord*29-5-2023,Rush Hour 3*ord*29-5..."
19,29-6-2023,The Invisible Guest,"The Invisible Guest*ord*29-6-2023,The Invisibl..."

In [7]:
df.to_csv('shows.csv')